/* DARK THEME :) */
/*
$text-one: rgb(235, 235, 235);
$text-two: rgb(56, 56, 56);
$mainbackground: #464e56;
$titles: rgb(162, 141, 255);
$brandmaincolor: rgb(162, 141, 255);
$fontawesomeicons: rgb(144, 126, 224);
$buttoncolor: #3E468E;
$buttonborder: #376CB0;
$buttonhovercolor: #376CB0;
$anchorcolor:rgb(189, 189, 189);
$anchorhovercolor:rgb(104, 104, 195);
$formbackground:rgba(66, 66, 66, 0.83);
$catback: #E9ECEF;*/

/* LIGHT THEME :) */

$text-one: rgb(15, 15, 15);
$text-two: rgb(235, 235, 235);
$mainbackground: #ffffff;
$titles: rgb(0, 99, 138);
$brandmaincolor: rgb(0, 133, 185);
$fontawesomeicons: rgb(0, 133, 185);
$buttoncolor: rgb(0, 133, 185);
$buttonborder: #376CB0;
$buttonhovercolor: #376CB0;
$anchorcolor:rgb(0, 133, 185);
$anchorhovercolor:rgb(104, 104, 195);
$formbackground:#ffffff;
$catback: #E9ECEF;
$error: #d63030;

body,
html {
  height: 100%;
  font-size: 0.95em;
  background: $mainbackground;
  color: $text-one;

  font-family: 'Quicksand', sans-serif;
  font-weight: 400;

  /*overflow-x: hidden !important;*/

  th {
    color: $text-two;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.active2 {
  background: $brandmaincolor !important;
  color: $text-two !important;

  i {
    color: $text-two !important;
  }

  &:hover {
    background: white !important;
    color: $text-two !important;
  }

  &:active {
    background: $brandmaincolor !important;
    color: $text-two !important;
  }
}

table {
  color: #ffffff;

  a {
    color: #ffffff;
  }

  a:hover {
    color: #4fb2d6 !important;
  }
}

.container-fluid {
  margin-top: 1em;
}

.container {
  padding: 0em;

  p {
    color: $text-one;
  }

}

.single-form {
  padding: 1em;
}

.page-title {
  padding: 0 !important;
  color: $brandmaincolor !important;
}

.home-header {
  background: url('../images/back-2.jpg') fixed;
  width: 100%;
  height: auto;
  padding: 2em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 0;
  }

  p {
    color: $text-one !important;
  }

  a {
    float: right;
  }
}

.home-bottom {
  background: url('../images/back.jpg') fixed;
  width: 100%;
  height: auto;
  padding: 2em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 0;
  }

  p {
    color: $text-one !important;
  }

  a {
    float: right;
  }
}

.btn-right {
  float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  color: $titles !important;
  padding: 0.5em 0.5em 0.5em 0;
  font-weight: 500;
}

.navbar {
  padding: 2px 4px;
  /* height: 50px;*/
  border-bottom: $brandmaincolor 2px solid;

  .container {
    background: none;
    padding: 5px;
  }
}

.navbar-brand {
  color: $brandmaincolor !important;
  font-weight: bold;
  font-size: 1.8em;
}

.profile-pic {
  border-radius: 50%;
  /*position: absolute;
  top: -42px;
  left: 15%;*/
  max-width: 160px;
  border: 3px solid rgba(255, 255, 255, 1);
  /* -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);*/
}

.my-account-menu {
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
  -moz-box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
  box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
}

ul {
  li {
    a:hover {
      background: #ffffff !important;
      color: #4fb2d6 !important;
    }
  }
}

/* CHANGE THESE */
body>div>div.row>div.col-md-2>ul>li.list-group-item.list-group-item-dark {
  background: $brandmaincolor !important;
  color: $text-two !important;
}

body>div>div.row>div.col-md-2>ul>li.list-group-item.list-group-item-dark>a {
  background: $brandmaincolor !important;
  color: $text-two !important;
}

body>div>div.row>div.col-md-2>ul>li.list-group-item.list-group-item-dark>a>i {
  color: $text-two !important;
}

body>div>div.row>div.col-md-2>ul>li.list-group-item.list-group-item-dark>a:hover {
  background: $brandmaincolor !important;
  color: $text-two !important;
}

#navbarsDefault>ul>li>a:hover {
  background: none !important;
}

/* CHANGE THESE */

.admin-link {
  color: $brandmaincolor !important;
  font-weight: bold;
}

.user-link {
  color: rgb(132, 185, 78) !important;
  font-weight: bold;
}


.fab {
  color: $fontawesomeicons;
}

.fas {
  color: $fontawesomeicons;
}

.form-control {
  margin: 0.8em 0;
  font-size: 0.9em;
}

label {
  color: $text-one !important;
  font-weight: bold;
}

.label-category {
  background: $catback;
  padding: 6px;
  width: 100% !important;
  color: $text-one;
  font-size: 1em;

  &:hover {
    background: rgb(206, 206, 206);
    color: $text-one;
    cursor: pointer;
  }

  input[type='checkbox'] {
    margin-right: 1em;
  }
}

.btn {
  background: $buttoncolor;
  border-radius: 0%;
  //border: 3px $buttonborder solid;
  border: 0;
  font-size: 0.9em;

  &:hover {
    background: $buttonhovercolor;
    border-radius: 0%;
    //border: 3px $buttonborder solid;
    border: 0;
    font-size: 0.9em;
  }

}

.pp_btn {
  float: right;

  .pp_icon {
    color: #FFF !important;
  }
}

.footer {
  /*
  position: absolute;*/
  bottom: 0;
  width: 100%;
  background-color: #363636;
}

a {
  color: $anchorcolor;
  text-decoration: none;

  &:hover {
    color: $anchorhovercolor;
    text-decoration: none;
  }
}

.product-list-image {
  float: right;
  margin: 5px;
}

.product-edit-image {
  margin: 0 auto;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
}

.card {
  color: $text-one;
  margin-bottom: 2em;

  .card-title {
    margin: 0;
    padding: 0;
  }

  .card-title-request {
    padding: 0;
    margin: 0.5em 0.5em 0.5em 0;
  }

  .bg-brand-color {
    background-color: $brandmaincolor;
  }

  label {
    color: #363636;
  }

  .card-profile {
    label {
      font-weight: bold;
    }

  }
}

#error-404 {
  text-align: center !important;

  h4 {
    text-align: center !important;
  }

  .exclamation {
    p {
      i {
        font-size: 8em !important;
        color: $error !important;
      }
    }
  }
}

.form-control {
  border-radius: 0 !important;
}

form {
  /*
  -webkit-box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
  -moz-box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
  box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
  
  padding: 1em;*/
  background: $formbackground;
  margin-bottom: 2em;
}

/*
a[target="_blank"] {
  position: relative;

  &:after {
    position: absolute;
    top: 3px;
    right: -15px;
    content: "\1f855";
    font-size: 0.9em;
    color: black;
    line-height: 3px;
    height: 5px;
    width: 5px;
    border-right: 2px solid white;
    border-top: 2px solid white;
  }

  &:before {
    position: absolute;
    top: 4px;
    right: -15px;
    content: " ";
    border: 1px solid white;
    width: 8px;
    height: 8px;
  }
}
*/
.profile-card-2 {
  .card-img-block {
    float: left;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }

  .card-body {
    position: relative;

    .cat-pill {
      a {
        color: $text-two;
      }
    }
  }

  .profile {
    border-radius: 50%;
    position: absolute;
    top: -42px;
    left: 15%;
    max-width: 75px;
    border: 3px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }

  .profile-2 {
    border-radius: 50%;
    position: relative;
    top: -25px;
    left: 50%;
    margin: 0 auto;
    max-width: 150px;
    border: 3px solid $brandmaincolor;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }

  h5 {
    font-weight: 600;
    color: #007bff;
  }

  .card-text {
    font-weight: 300;
    font-size: 15px;
  }

  .icon-block {
    float: left;
    width: 100%;

    a {
      text-decoration: none;
    }
  }

  i {
    display: inline-block;
    font-size: 16px;
    color: $brandmaincolor;
    text-align: center;
    border: 1px solid $brandmaincolor;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 5px;

    &:hover {
      background-color: $brandmaincolor;
      color: #fff;
    }
  }

  /*
  a[target="_blank"] {
    position: relative;

    &:after {
      position: absolute;
      top: 3px;
      right: -15px;
      content: " ";
      border: 0;
      color: $text-one;
    }

    &:before {
      position: absolute;
      top: 4px;
      right: -15px;
      content: " ";
      border: 0;
    }
  }
  */
}

/*** *** DASHBOARD CSS *** ***/

/* body {
    overflow-x: hidden;
  }  */

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  #toggle_icon {
    color: white;
  }

}