/* DARK THEME :) */
/*
$text-one: rgb(235, 235, 235);
$text-two: rgb(56, 56, 56);
$mainbackground: #464e56;
$titles: rgb(162, 141, 255);
$brandmaincolor: rgb(162, 141, 255);
$fontawesomeicons: rgb(144, 126, 224);
$buttoncolor: #3E468E;
$buttonborder: #376CB0;
$buttonhovercolor: #376CB0;
$anchorcolor:rgb(189, 189, 189);
$anchorhovercolor:rgb(104, 104, 195);
$formbackground:rgba(66, 66, 66, 0.83);
$catback: #E9ECEF;*/
/* LIGHT THEME :) */
body,
html {
  height: 100%;
  font-size: 0.95em;
  background: #ffffff;
  color: #0f0f0f;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  /*overflow-x: hidden !important;*/
}

body th,
html th {
  color: #ebebeb;
}

body .center,
html .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.active2 {
  background: #0085b9 !important;
  color: #ebebeb !important;
}

.active2 i {
  color: #ebebeb !important;
}

.active2:hover {
  background: white !important;
  color: #ebebeb !important;
}

.active2:active {
  background: #0085b9 !important;
  color: #ebebeb !important;
}

table {
  color: #ffffff;
}

table a {
  color: #ffffff;
}

table a:hover {
  color: #4fb2d6 !important;
}

.container-fluid {
  margin-top: 1em;
}

.container {
  padding: 0em;
}

.container p {
  color: #0f0f0f;
}

.single-form {
  padding: 1em;
}

.page-title {
  padding: 0 !important;
  color: #0085b9 !important;
}

.home-header {
  background: url("../images/back-2.jpg") fixed;
  width: 100%;
  height: auto;
  padding: 2em;
}

.home-header h1,
.home-header h2,
.home-header h3,
.home-header h4,
.home-header h5,
.home-header h6 {
  padding-top: 0;
}

.home-header p {
  color: #0f0f0f !important;
}

.home-header a {
  float: right;
}

.home-bottom {
  background: url("../images/back.jpg") fixed;
  width: 100%;
  height: auto;
  padding: 2em;
}

.home-bottom h1,
.home-bottom h2,
.home-bottom h3,
.home-bottom h4,
.home-bottom h5,
.home-bottom h6 {
  padding-top: 0;
}

.home-bottom p {
  color: #0f0f0f !important;
}

.home-bottom a {
  float: right;
}

.btn-right {
  float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  color: #00638a !important;
  padding: 0.5em 0.5em 0.5em 0;
  font-weight: 500;
}

.navbar {
  padding: 2px 4px;
  /* height: 50px;*/
  border-bottom: #0085b9 2px solid;
}

.navbar .container {
  background: none;
  padding: 5px;
}

.navbar-brand {
  color: #0085b9 !important;
  font-weight: bold;
  font-size: 1.8em;
}

.profile-pic {
  border-radius: 50%;
  /*position: absolute;
  top: -42px;
  left: 15%;*/
  max-width: 160px;
  border: 3px solid white;
  /* -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);*/
}

.my-account-menu {
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
  box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
}

ul li a:hover {
  background: #ffffff !important;
  color: #4fb2d6 !important;
}

/* CHANGE THESE */
body > div > div.row > div.col-md-2 > ul > li.list-group-item.list-group-item-dark {
  background: #0085b9 !important;
  color: #ebebeb !important;
}

body > div > div.row > div.col-md-2 > ul > li.list-group-item.list-group-item-dark > a {
  background: #0085b9 !important;
  color: #ebebeb !important;
}

body > div > div.row > div.col-md-2 > ul > li.list-group-item.list-group-item-dark > a > i {
  color: #ebebeb !important;
}

body > div > div.row > div.col-md-2 > ul > li.list-group-item.list-group-item-dark > a:hover {
  background: #0085b9 !important;
  color: #ebebeb !important;
}

#navbarsDefault > ul > li > a:hover {
  background: none !important;
}

/* CHANGE THESE */
.admin-link {
  color: #0085b9 !important;
  font-weight: bold;
}

.user-link {
  color: #84b94e !important;
  font-weight: bold;
}

.fab {
  color: #0085b9;
}

.fas {
  color: #0085b9;
}

.form-control {
  margin: 0.8em 0;
  font-size: 0.9em;
}

label {
  color: #0f0f0f !important;
  font-weight: bold;
}

.label-category {
  background: #E9ECEF;
  padding: 6px;
  width: 100% !important;
  color: #0f0f0f;
  font-size: 1em;
}

.label-category:hover {
  background: #cecece;
  color: #0f0f0f;
  cursor: pointer;
}

.label-category input[type='checkbox'] {
  margin-right: 1em;
}

.btn {
  background: #0085b9;
  border-radius: 0%;
  border: 0;
  font-size: 0.9em;
}

.btn:hover {
  background: #376CB0;
  border-radius: 0%;
  border: 0;
  font-size: 0.9em;
}

.pp_btn {
  float: right;
}

.pp_btn .pp_icon {
  color: #FFF !important;
}

.footer {
  /*
  position: absolute;*/
  bottom: 0;
  width: 100%;
  background-color: #363636;
}

a {
  color: #0085b9;
  text-decoration: none;
}

a:hover {
  color: #6868c3;
  text-decoration: none;
}

.product-list-image {
  float: right;
  margin: 5px;
}

.product-edit-image {
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.card {
  color: #0f0f0f;
  margin-bottom: 2em;
}

.card .card-title {
  margin: 0;
  padding: 0;
}

.card .card-title-request {
  padding: 0;
  margin: 0.5em 0.5em 0.5em 0;
}

.card .bg-brand-color {
  background-color: #0085b9;
}

.card label {
  color: #363636;
}

.card .card-profile label {
  font-weight: bold;
}

#error-404 {
  text-align: center !important;
}

#error-404 h4 {
  text-align: center !important;
}

#error-404 .exclamation p i {
  font-size: 8em !important;
  color: #d63030 !important;
}

.form-control {
  border-radius: 0 !important;
}

form {
  /*
  -webkit-box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
  -moz-box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
  box-shadow: 0px 11px 20px -13px rgba(38, 38, 38, 0.83);
  
  padding: 1em;*/
  background: #ffffff;
  margin-bottom: 2em;
}

/*
a[target="_blank"] {
  position: relative;

  &:after {
    position: absolute;
    top: 3px;
    right: -15px;
    content: "\1f855";
    font-size: 0.9em;
    color: black;
    line-height: 3px;
    height: 5px;
    width: 5px;
    border-right: 2px solid white;
    border-top: 2px solid white;
  }

  &:before {
    position: absolute;
    top: 4px;
    right: -15px;
    content: " ";
    border: 1px solid white;
    width: 8px;
    height: 8px;
  }
}
*/
.profile-card-2 {
  /*
  a[target="_blank"] {
    position: relative;

    &:after {
      position: absolute;
      top: 3px;
      right: -15px;
      content: " ";
      border: 0;
      color: $text-one;
    }

    &:before {
      position: absolute;
      top: 4px;
      right: -15px;
      content: " ";
      border: 0;
    }
  }
  */
}

.profile-card-2 .card-img-block {
  float: left;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.profile-card-2 .card-body {
  position: relative;
}

.profile-card-2 .card-body .cat-pill a {
  color: #ebebeb;
}

.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid white;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.profile-card-2 .profile-2 {
  border-radius: 50%;
  position: relative;
  top: -25px;
  left: 50%;
  margin: 0 auto;
  max-width: 150px;
  border: 3px solid #0085b9;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.profile-card-2 h5 {
  font-weight: 600;
  color: #007bff;
}

.profile-card-2 .card-text {
  font-weight: 300;
  font-size: 15px;
}

.profile-card-2 .icon-block {
  float: left;
  width: 100%;
}

.profile-card-2 .icon-block a {
  text-decoration: none;
}

.profile-card-2 i {
  display: inline-block;
  font-size: 16px;
  color: #0085b9;
  text-align: center;
  border: 1px solid #0085b9;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.profile-card-2 i:hover {
  background-color: #0085b9;
  color: #fff;
}

/*** *** DASHBOARD CSS *** ***/
/* body {
    overflow-x: hidden;
  }  */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  #toggle_icon {
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */